<?xml version="1.0"?>
<launch>

    <arg name="homography_file"
        default="$(find travis_image_processing)/src/homography/data/homography.json"
    />

    <!-- Run script -->
    <node   pkg="travis_image_processing"
            type="lane_detection.py"
            name="lane_detection"
            output="screen"
            args="$(arg homography_file)"
    />

</launch>