<?xml version="1.0"?>
<launch>

  <arg name="max_speed" default="0" />

  <!-- Start communication with xbox controller -->
  <node pkg="joy" type="joy_node" name="joy_node"/>
  <node pkg="travis_usb_controller" type="xbox_controller.py" name="travis_usb_controller" 
        args="-m $(arg max_speed)" output="screen"/>

</launch>
